* {
padding: 0px;
margin: 0px;
}

body {
    font-size: 11.5pt;
    color:#5c5b5b;
	line-height: 1.75em;
	background-color: #BEBEBE;
}
body,input{
    font-family: georgia,serif;
}

main article section h1{
    padding: 20px 20px ;
    text-align: center;
}

main article section img{
    width: 300px;
    padding-left: 350px;
    padding-bottom: 20px  ;
}
.menu {

    padding: 0 45px 0 45px;
    padding: 0 45px 0 45px;
    background: #209D9D ; 
    margin: 0;
    height: 60px;
    width: 890px;
    border-top: solid 1px #5AD7D7;
    border-bottom: solid 1px #1C7575;
    text-shadow: 0 1px 1px #007D7D;
}
.menu  ul {
    margin: 0;
    padding:0;
    position: relative;
    list-style-type: none;
    left: -15px;
}
.menu  ul  li {
    font: 1.03em "Open Sans", Sans-serif;
    float: left;
}
.menu-item a {
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    font-family:Georgia, serif ;
}
.menu-item:hover {
    background-color: #FF0055;
}
#wrapper {
	position: relative;
	width: 980px;
	margin: 75px auto 0 auto;
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1);
}
#footer {
	margin: 40px 0 120px 0;
	text-align: center;
	color: #8C8B8B;
	text-shadow: 0 1px 0 #FFFFFF;
}

#p1{
	padding: 0 100px 0 45px;

}

#header {
	height: 75px;
	position: relative;
	background: #6E6E6E;
	padding: 45px;
	color: #FFFFFF;
	width: 888px;
	border: solid 1px #7E7E7E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}
#logo {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	top: 0;
	left: 45px;
}
#logo a {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 1px 1px #3E3E3E;
}
#logo h1 {
	font-size: 3.25em;
}
#slogan {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	right: 45px;
	top: 0;
}

#slogan h2 {
	color: #BEBEBE;
	font-size: 1.25em;
	text-shadow: 0 1px 1px #3E3E3E;
}